{% load static %}

<!DOCTYPE html>

<html lang="id">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RPL Django{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mahasiswa/css/style.css' %}">

    <style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .logout-btn {
        background-color: #dc3545;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.3s;
    }

    .logout-btn:hover {
        background-color: #c82333;
    }
    </style>
</head>
<body>
    <header>
        <h1>Praktikum RPL - Django</h1>

        <div class="top-bar">
            <a href="/accounts/logout/" class="logout-btn">Logout</a>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 - Praktikum</p>
    </footer>
    <script src="{% static 'mahasiswa/js/main.js' %}"></script>
</body>
</html>